*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0px;
}

/* 全局按钮样式 - 增加按钮宽度 */
.el-button {
    min-width: 90px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* 小尺寸按钮 */
.el-button--small {
    min-width: 80px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

/* 大尺寸按钮 */
.el-button--large {
    min-width: 100px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

/* 链接按钮不需要最小宽度 */
.el-button.is-link {
    min-width: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
